.idea
tmp
testdata
local_settings.yaml
main
logs/*
uploads/*
settings.yaml
**/.DS_Store
reference_code
blogX_server
todo.md
count_go_lines.sh
count_log.txt
var/*
init/deploy/nginx/cert/*
docker
init/deploy/blogx_web